*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
    grid-auto-rows: minmax(200px auto);
    grid-template-areas: 
            "header header header header"   
            "main main main main"
            "section section section aside"
            "footer footer footer footer"
    ;
}

img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    grid-area: header;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav{
    padding-bottom: 15px;
    width: 800px;
    position: absolute;
    top: 20px;
    left: 300px;
}

.nav-list{
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.logo{
    width: 150px;
    height: 150px;
}

main{
    grid-area: main;
}

section{
    grid-area: section;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}


