*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
    grid-auto-rows: minmax(200px auto);
    grid-template-areas: 
            "header header header header"   
            "main main main main"
            "section section section aside"
            "footer footer footer footer"
    ;
}

header, main, section, footer, aside{
    background-color: red;
    padding: 60px;
}

header{
    grid-area: header;
}    

main{
    grid-area: main;
}

section{
    grid-area: section;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}